[submodule "algorithms/offlam"]
	path = algorithms/offlam
	url = https://github.com/LamannaLeonardo/OffLAM.git
[submodule "algorithms/nolam"]
	path = algorithms/nolam
	url = https://github.com/LamannaLeonardo/NOLAM.git
[submodule "algorithms/sam"]
	path = algorithms/sam
	url = https://github.com/SPL-BGU/numeric-sam
